<div class = "menu">
<a href="#main" class="btn btn-danger btn-lg">Home</a>
<a href="#mountains" class="btn btn-success btn-lg">Amazing Mountains</a>
<a href="#contact" class="btn btn-danger btn-lg">Amazing Rivers</a>
</div>

 <div class = "form_style">
   <form>       
     First Name: <input type="text" ng-model="fname"/> <br />
     Last Name: <input type="text" ng-model="lname"/> <br />
     City: <input type="text" ng-model="city"/> <br />
     Mob: <input type="text" ng-model="number"/> <br />
     <input type="button" value="submit" ng-click="insertdata()"/><br />  
   </form>  
 </div>
